<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
    <h1>Bem vindo ao seu perfil {{user}} !</h1>
    <a class="bnt-feed" href="publicacao">
        Publicação
    </a>
    <br><br>
    <a class="bnt-feed" href="feed">
        Feed
    </a>
    <br><br>
    <a class="bnt-feed" href="message">
        Conversas
    </a>
    <br><br>
    <a class="bnt-feed" href="comentarios">
        Comentários
    </a>
    <br><br>
    <a class="bnt-feed" href="notificacao">
        Notificações
    </a>
</body>
</html>